* {
    margin: 0;
    padding: 0;
}
html, body {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    /*overflow: hidden;*/
    width: 100%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
}
ul li{list-style: none;}
.wrap{position: relative;}
#title{
    color: #fff;
    left: 10px;
    position: fixed;
    top:10px;
}
.ulwrap{
    position: fixed;
    left: 10px;
    top:80px;
    color: #fff;
    z-index: 10;
}
#incomingChatMessages{
    color: #666;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding: 3px;
    /*position: fixed;*/
    left: 0;
    /*text-align: right;*/
    top: 0;
    z-index: 30;
}
.pic_wrap{
    right: 10px;
    position: fixed;
    top:10px;
}
.search_wrap{
    left: 250px;
    position: fixed;
    top:28px;
}
.search_wrap .txt {
  position: fixed;
  top: 26px;
  left: 400px;
  z-index: 100;
  background: rgba(0,0,0,0.3);
  border: 1px solid #222;
  padding: 6px;
  font-family: Consolas;
  font-size: 14px;
  color: yellow;
}

